.continue-container #previous {
    margin-left: 15px;
    margin-bottom: 20px;
}

.continue-container #continue {
    float: right;
    margin-right: 15px;
    margin-bottom: 20px;
}

.error-text, .fields, .json-beautifier {
    margin: 15px;
}

.key-value {
    padding-left: 15px;
}